.main {
  display: flex;

  &_personalCabinetBar {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #f8f8f8;
    width: 100%;

    &_btns {
      display: flex;
      gap: 60px;
    }

    &_wrapper {
      width: 100%;

      &_userSettings {
        padding-left: 30px;
        border-top: 1px solid #2B384414;
        padding-top: 53px;
        width: 60%;

        &_row {
          display: flex;
          gap: 32px;

          &_downAvatarContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 300px;

            &_imgPreviewContainer {
              width: 100%;
              height: 50px;
              box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25)
            }

            & img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          &_avatarContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            right: 150px;
            max-width: 300px;

            @media only screen and (max-width: 1590px) {
              display: none;
            }


            &_imgPreviewContainer {
              width: 100%;
              height: 300px;
              box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25)
            }

            & img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          & span {
            margin-bottom: 10px;
          }
        }
      }
    }


  }
}

