.main {
  display: flex;

  &_personalCabinetBar {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #f8f8f8;
    width: 100%;

    &_userSettings {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      border-top: 1px solid #2B384414;
      gap: 33px;
      padding-top: 53px;
      width: 90%;

      &_row {
        display: flex;
        gap: 32px;

        &_avatarContainer {
          display: flex;
          flex-direction: column;
          top: 22vh;
          position: absolute;
          right: 0;

          &_imgPreviewContainer {
            max-width: 300px;

            & img {
              width: 100%;
              object-fit: cover;
            }
          }

          & span {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}